#index1 {
    background-color: brown;
    font-size: 16px;
}

/* #index2 {
    font-size: 100px;
    text-decoration: coral;
    background-color: aqua;
} */
.navbar {
    padding: 12 px 12 px;
    background-color: black;
    
}

#b1 {
    font-size: 100px;
    text-decoration: coral;
    background-color: aqua;
}

.down {
    font: white;
    background-color: aqua;
}


.hey {
    background-color: black;
}