#index1 {
    background-color: brown;
    font-size: 16px;
}

/* #index2 {
    font-size: 100px;
    text-decoration: coral;
    background-color: aqua;
} */

.up {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 196, 0, 0.37);
}

.down {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 196, 0, 0.37);
}

#navbar {
    overflow: hidden;
    display: inline;
    background-color: white;
}

li {
    display:inline;
    background-color: gray;
    font-size: 25px;
  }
  
  li a{
    color: white;
    padding: 12px 70px;
    text-decoration: none;
    
  }
  
  li a:hover{ 
    color: rgba(255, 196, 0, 0.37);
  }

#one {
    border-style: solid;
    border-color: black;
    text-align: center;
}

#gr {
font-size: 25px;
text-align: center;
margin: 50px;
}

#index2 {
    margin-top: 12px;
}

